@page "/"


<PageTitle>Product List</PageTitle>

<button class="btn btn-primary" @onclick="OpenModal">Show Products</button>

@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    private async Task OpenModal()
    {
        var modal = Modal.Show<ProductSearchModal>(new ModalOptions { HideHeader = true});
        var result = await modal.Result;
    }
}