@page "/"



<PageTitle>Product List</PageTitle>





<button class="btn btn-primary" @onclick="OpenModal">Show Products</button>


@code {
    [CascadingParameter] IModalService Modal { get; set; } = default;

    async Task OpenModal()
    {
        var modalRef = Modal.Show<ModalComponent>(new ModalOptions { HideHeader = true });

        var modalResult = modalRef.Result;
    }
}