@page "/"

<PageTitle>Product List</PageTitle>

<div class="btn-group">
    <button class="btn btn-primary mx-3" @onclick="OpenModal">Ürünleri Göster</button>
    <button class="btn btn-dark mx-3" @onclick="OpenIndirimMasrafModal">İndirim/Masraf Girişlerini göster</button>
    <button class="btn btn-danger mx-3" @onclick="AdresGoster">Adresleri Göster</button>
    <button class="btn btn-secondary mx-3" @onclick="Cariler">Carileri Göster</button>
</div>

@code {
    [CascadingParameter] IModalService Modal { get; set; } = default;

    async Task OpenModal()
    {
        var modalRef = Modal.Show<ModalComponent>(new ModalOptions { HideHeader = true });

        var modalResult = modalRef.Result;
    }

    async Task OpenIndirimMasrafModal()
    {
        var modalRef = Modal.Show<IndirimMasrafModalComponent>(new ModalOptions { HideHeader = true, Size = ModalSize.Large });

        var modalResult = modalRef.Result;
    }

    async Task AdresGoster()
    {
        var modalRef = Modal.Show<AdresPopUpComponent>(new ModalOptions { HideHeader = true });

        var modalResult = modalRef.Result;
    }

    async Task Cariler()
    {
        var modalRef = Modal.Show<CarilerPopupComponent>(new ModalOptions { HideHeader = true });
        var modalRes = modalRef.Result;
    }
}