@* Baslik *@
<div class="small btg-table-caption my-1">AURA CEBILON PLATINUM M5 Teslim Adresi</div>


@* Yeni Adres Ekle *@
<div class="my-1 text-end">
    <button class="btn btn-sm btn-outline-primary small" @onclick="AddNewAdress"> <i class="bi bi-plus-lg"></i> Yeni Adres Ekle</button>
</div>


@* Adres Tablosu *@
<div class="p-2 border border-1" style="height: 200px; max-width: 100%; overflow: auto">
    <table id="tblUrunAraList" class="table table-sm table-hover small table-borderless ">
        <tbody>
            @foreach(var item in GetAdres)
            {
                <tr style="cursor: pointer" onclick="btg_Siparis_Adres_sec(this);">
                    <td>
                        <div class="fw-bold"><i class="bi bi-house-door"></i>@item.AdresBasligi</div>
                        <div class="ps-2 text-muted">
                            @item.AcikAdres
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@* Adres Adeti *@
<div class="p-2 " style=" height: 40px;">
    <span class="btg-dd-status-text text-muted small fst-italic">@GetAdres.Count() adet Adres listeleniyor.</span>
    <a class="btn-link btg-btn-cancel  float-end" href="javascript:;"><i class="bi bi-x"></i></a>
</div>


<style>
    .blazored-modal{
        padding: 0.5rem!important;
    }

</style>

@code {
    private List<Adres> GetAdres = new List<Adres>
    {
        new Adres {AdresBasligi = "Ev Adresi", AcikAdres= "SAHİL MAH Kaptanı Derya Sk. No: 9 K.1 D: 2034524 BEYLİKDÜZÜ / İSTANBUL"},
        new Adres {AdresBasligi = "İş Adresi", AcikAdres= "YENİBOSNA MERKEZ MAH 29 Ekim Caddesi İhlas Plaza No:11 B/1134197 BAHÇELİEVLER / İSTANBUL"},
        new Adres {AdresBasligi = "Memleketi (Köy)", AcikAdres = "EMİNAÇMA KÖYÜ No: 80 (Caminin Arkası)81100 MERKEZ / DÜZCE"},
        new Adres {AdresBasligi = "Memleketi (Köy)", AcikAdres = "EMİNAÇMA KÖYÜ No: 80 (Caminin Arkası)81100 MERKEZ / DÜZCE"},
        new Adres {AdresBasligi = "Memleketi (Köy)", AcikAdres = "EMİNAÇMA KÖYÜ No: 80 (Caminin Arkası)81100 MERKEZ / DÜZCE"},
        new Adres {AdresBasligi = "Memleketi (Köy)", AcikAdres = "EMİNAÇMA KÖYÜ No: 80 (Caminin Arkası)81100 MERKEZ / DÜZCE"}
    };

    // string[] Ulkeler =
    // {
    //     "TÜRKİYE"
    // };

    // private List<Il> Iller = new List<Il>
    // {
    //     new Il
    //     {
    //         IlName = "İstanbul",
    //         Ilceler = new List<Ilce>
    //         {
    //             new Ilce
    //             {
    //                 IlceName = "Kadıköy",
    //                 Mahalleler = new List<Mahalle>
    //                 {
    //                     new Mahalle
    //                     {
    //                         MahalleName = "Fenerbahçe",
    //                         Sokaklar = new List<string> { "Bağdat Caddesi", "Fenerbahçe Sokak" }
    //                     },
    //                     new Mahalle
    //                     {
    //                         MahalleName = "Moda",
    //                         Sokaklar = new List<string> { "Moda Caddesi", "Şair Nefi Sokak" }
    //                     }
    //                 }
    //             },
    //             new Ilce
    //             {
    //                 IlceName = "Beşiktaş",
    //                 Mahalleler = new List<Mahalle>
    //                 {
    //                     new Mahalle
    //                     {
    //                         MahalleName = "Etiler",
    //                         Sokaklar = new List<string> { "Nispetiye Caddesi", "Levent Caddesi" }
    //                     },
    //                     new Mahalle
    //                     {
    //                         MahalleName = "Levent",
    //                         Sokaklar = new List<string> { "Büyükdere Caddesi", "Eski Büyükdere Yolu" }
    //                     }
    //                 }
    //             }
    //         }
    //     },
    //     new Il
    //     {
    //         IlName = "Ankara",
    //         Ilceler = new List<Ilce>
    //         {
    //             new Ilce
    //             {
    //                 IlceName = "Çankaya",
    //                 Mahalleler = new List<Mahalle>
    //                 {
    //                     new Mahalle
    //                     {
    //                         MahalleName = "Ayrancı",
    //                         Sokaklar = new List<string> { "Atatürk Bulvarı", "Hoşdere Caddesi" }
    //                     },
    //                     new Mahalle
    //                     {
    //                         MahalleName = "Bahçelievler",
    //                         Sokaklar = new List<string> { "7. Cadde", "Milli Kütüphane Sokak" }
    //                     }
    //                 }
    //             }
    //         }
    //     },
    //     new Il
    //     {
    //         IlName = "Kocaeli",
    //         Ilceler = new List<Ilce>
    //         {
    //             new Ilce
    //             {
    //                 IlceName = "İzmit",
    //                 Mahalleler = new List<Mahalle>
    //                 {
    //                     new Mahalle
    //                     {
    //                         MahalleName = "Yahya Kaptan",
    //                         Sokaklar = new List<string> { "Kaptan Caddesi", "Doğu Sokak" }
    //                     },
    //                     new Mahalle
    //                     {
    //                         MahalleName = "Cumhuriyet",
    //                         Sokaklar = new List<string> { "İnönü Caddesi", "Park Sokak" }
    //                     }
    //                 }
    //             },
    //             new Ilce
    //             {
    //                 IlceName = "Gebze",
    //                 Mahalleler = new List<Mahalle>
    //                 {
    //                     new Mahalle
    //                     {
    //                         MahalleName = "Beylikbağı",
    //                         Sokaklar = new List<string> { "Fatih Caddesi", "Sanayi Sokak" }
    //                     },
    //                     new Mahalle
    //                     {
    //                         MahalleName = "Mustafapaşa",
    //                         Sokaklar = new List<string> { "Atatürk Caddesi", "Çarşı Sokak" }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // };

    [CascadingParameter] IModalService modalService { get; set; } = default;

    async Task AddNewAdress()
    {
        var modalRef = modalService.Show<YeniAdresEklePopUpComponent>(new ModalOptions { HideHeader = true });
        var modalResult = modalRef.Result;
    }



}
